/software-design-and-analysis/ExercicioPOO/nbproject/private/
/software-design-and-analysis/ExercicioPOO/build/
/data-structure-notes/Listas/ESDC4Aula02/ESDC4Aula02/build/
/data-structure-notes/Listas/ESDC4Aula03/build/
/data-structure-notes/Projects/ProjetoESDLinear-master/nbproject/private/
/data-structure-notes/Listas/ESDC4Aula07/build/
/data-structure-notes/Listas/ESDC4Aula10/build/
/information-organization-and-retrieval/OrdenacoesGraficas - Copia/nbproject/private/
/information-organization-and-retrieval/Labirinto/nbproject/private/
/compiler-construction/Projeto01-Scanner-Alunos/Projeto01-Scanner/build/
/information-organization-and-retrieval/ArvoreAVL/ArvoreAVL/nbproject/private/
/compiler-construction/Projeto02-ParserV1-Alunos/Projeto02-ParserV1/build/
/information-organization-and-retrieval/ALG-AVL/ALG-AVL/build/
/information-organization-and-retrieval/ALG-AVL/ALG-AVL/nbproject/private/
/compiler-construction/Projeto03-ParserV2-Alunos/Projeto03-ParserV2/build/
/compiler-construction/Projeto04-ParserV3-Alunos/Projeto04-ParserV3/build/
/compiler-construction/Projeto05-AnaliseDeRestricoes-Alunos/Projeto05-AnaliseDeRestricoes/build/
/compiler-construction/Projeto07-GC-Subprogramas-Arrays-Alunos/Projeto07-GC-Subprogramas-Arrays/build/
/information-organization-and-retrieval/Implementations/build/
/information-organization-and-retrieval/Implementations/nbproject/private/
/information-organization-and-retrieval/Implementations/dist/
/Implementations/algorithms-implementation/nbproject/private/
/Implementations/algorithms-implementation/build/
/information-organization-and-retrieval/ProjetoFinalVictória/target/
/information-organization-and-retrieval/ProjetoFinalAndre/target/
/compiler-construction/ChatMultithread/nbproject/private/
/compiler-construction/ChatMultithread/build/
/compiler-construction/ChatMultithread/ChatMultithread/nbproject/private/
/compiler-construction/ChatMultithread/ChatMultithread/build/
/information-organization-and-retrieval/algorithms-implementation-vicvic/algorithms-implementation/build/
/information-organization-and-retrieval/algorithms-implementation-vicvic/algorithms-implementation/nbproject/private/
/web-development/OlaMundoWeb/nbproject/private/
/web-development/OlaMundoWeb/build/
/web-development/Projeto1.1/nbproject/private/
/web-development/Projeto1.1/build/
/web-development/Cap1/Fibonacci/nbproject/private/
/web-development/Cap1/Fibonacci/build/
/web-development/Cap1/PrimeiroFormulario/nbproject/private/
/web-development/Cap1/PrimeiroFormulario/build/
/web-development/Livro-Desenvolvimento-de-Aplicacoes-Web-em-Java-main/Livro-Desenvolvimento-de-Aplicacoes-Web-em-Java-main/projetos/capitulo08/VendaProdutos/nbproject/private/
/web-development/Livro-Desenvolvimento-de-Aplicacoes-Web-em-Java-main/Livro-Desenvolvimento-de-Aplicacoes-Web-em-Java-main/projetos/capitulo09/LocacaoMidias/nbproject/private/
/web-development/PadroesEmPratica/nbproject/private/
/web-development/PadroesEmPratica/build/
/web-development/PadroesEmPratica/dist/
/web-development/Cap2-FINALIZAR/PrimeiroFormulario/build/
/web-development/projetos-ProfDavid/projetos/capitulo04/PadroesEmPratica/build/
